.info{
    text-align: center;
    &__title{
        font-size: 3vw;
        background-size: cover;
        background-position: center;
        padding: 2%;
        margin: 0;
        color: white;
         text-shadow: 3px 3px 3px black, 0 0 1em blue, 0 0 0.2em blue;
         @media screen and (max-width:1919px) {
            padding: 5%;
        }
        @media screen and (max-width:1439px){
            font-size:  5vw;
            padding:8%;
        }
    
    }
}