.error{
    text-align: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__title{
        font-size: 4em;
        margin: 0;
    }
    &__subtitle{
        font-size: 2em;
    }
    &__btn{
        font-size: 2.2em;
        color: rgb(102, 18, 102);
        transition: all .2s ease-in-out;
        text-decoration: none;
        &:hover{
            text-shadow:0 0 2px rgb(146, 51, 146);
        }
    }
}